html {
  background-color: #1aa48a;
}
.App {
  background-color: #1aa48a;
}

.test {
  background: #9cb43b;
}

/* Home */
.home-text {
  color: white;
}
/*  */

.text-big-yellow {
  color: #ffc000;
}

.text-big-medium-yellow {
  color: #debc13;
}

.text-medium-yellow {
  color: #bdb827;
}

.text-low-yellow {
  color: #9cb43b;
}

/* Big Screen */
@media only screen and (max-width: 2000px) {
  #navbar {
    color: #1aa48a;
  }

  .image-selecciona-equipo-button {
    width: 270px;
    height: 60px;
  }

  #image-navbar {
    width: 130px;
    height: 80px;
  }

  .image-profile {
    width: 350px;
    border-radius: 50%;
    border-color: #ffc000;
    border-width: 40px;
    border-style: double;
  }

  .image-profile-edit {
    width: 150px;
    border-radius: 50%;
    border-color: #ffc000;
    border-width: 20px;
    border-style: double;
  }

  /* footer */
  .footer-image {
    width: 80px;
    /* color: #fff; */
    /* border: 1px solid #214d76; */
    /* box-shadow: 0px 0px 25px #222; */
    /* backdrop-filter: blur(5px); */
  }
}

/* Mobile */
@media only screen and (max-width: 768px) {
  #navbar {
    color: #1aa48a;
    width: 10px;
  }

  .image-selecciona-equipo-button {
    width: 200px;
    height: 45px;
  }

  #image-navbar {
    width: 80px;
    height: 50px;
    margin-right: 0px;
    margin-left: -40px;
  }

  .image-profile {
    width: 200px;
    border-radius: 50%;
    border-color: #ffc000;
    border-width: 25px;
    border-style: double;
  }

  .image-profile-edit {
    width: 120px;
    border-radius: 50%;
    border-color: #ffc000;
    border-width: 20px;
    border-style: double;
  }

  .big-logo-image {
    width: 350px;
  }

  /* footer */
  .footer-image {
    width: 40px;
    /* color: #fff; */
    /* border: 1px solid #214d76; */
    /* box-shadow: 0px 0px 25px #222; */
    /* backdrop-filter: blur(5px); */
  }
}
